body {
  height: 100vh !important;
}
.container {
  background-color: #F5F5F5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.containerContent {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #108ee9;
  align-items: center;
}
.header .weather {
  width: 12%;
  font-size: 26px;
  color: white;
  text-align: center;
}
.header .amd-search-input {
  flex: none !important;
}
.header .amd-search {
  padding-left: 0.1rem !important;
  padding-right: 0.1rem !important;
  width: 70% !important;
}
.header .amd-search-cancel {
  display: none !important;
}
.headerCard {
  background-color: #108ee9;
  height: 140px;
  font-size: 22px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.headerCard div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.headerCard div img {
  display: flex;
  justify-self: center ;
  align-self: center;
  margin-bottom: 0.1rem;
}
.contentCard {
  height: 300px;
  font-size: 18px;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.2rem;
}
.contentCard div {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.contentCard div img {
  display: flex;
  justify-self: center ;
  align-self: center;
  margin-bottom: 0.1rem;
}
.contentCard div span {
  margin-bottom: 0.2rem;
}
.contentList {
  height: 550px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.swiper {
  margin-top: 0.5rem;
  width: 100%;
}
.swiper .swiperP {
  height: 100%;
  margin: 0;
  color: #fff;
  text-align: center;
}
.swiper .aSwiper {
  height: 100px;
}
.swiper .swiper-container {
  border-radius: 0.1rem !important;
  width: 95% !important;
}
.recentNew {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}
.recentNew li {
  margin-left: 25px;
  font-size: 20px !important;
  margin-bottom: 8px;
}
.recentNew .recentNewInfo {
  color: black;
}
.recentNew .recentNewTime {
  margin-left: 0.6rem;
  color: #ddd;
}
.recentNew .amd-list {
  height: 110px;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
}
.recentNew .amd-list-body {
  width: 95% !important;
  background-color: white;
}
.easyPay {
  width: 95%;
  height: 200px;
  margin-left: 2.5%;
  background-color: white;
  border-radius: 0.1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.easyPay .easyPayHeader {
  font-size: 1.3em;
  margin: 12px;
  border-bottom: 1px solid #ddd;
  padding-left: 0.2rem;
}
.easyPay .easyPayContent {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin: 12px;
}
.easyPay .easyPayContent div {
  height: 70px;
  width: 50%;
  padding-left: 0.2rem;
}
.easyPay .easyPayContent div:nth-child(1) {
  border-right: 1px solid #ddd;
}
.footer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}
.footer .demoTabbarWrap {
  width: 100vw;
  height: 100vh;
}
.footer .demoTabbar {
  width: 100%;
  height: 100%;
}
.footer .demoTabbar .activeTab .amd-tabbar-item-title {
  color: #515151;
}
.footer .amd-tabbar-list {
  background-color: white;
}
